@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
*{
    font-family:'Montserrat', sans-serif;
    font-size: 14px;
}
/* base */
.logo {
    width: 310px;
}

.navbar {
    padding-left: 70px;
    padding-right: 70px;
    background-color: #434D57;
    border-image: linear-gradient(to right,#f9ae00 0%,#f9ae00 33%,#f18400 33%,#f18400 66%,#ea5b11 66%,#ea5b11 100%) 0 0 1 0 stretch;
    border-style: solid;
    border-width: 0 0 10px 0;
}
.navbar-nav {
    gap: 30px;
}
.nav-link {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bold;
}
.nav-link:hover {
    color: #f9ae00;
    transition: .1s ease-in-out;
}

/* inicio */

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-40%);
}

/* registrarse */

#registrarse{
    background-image: url("/static/imagenes/grass.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    bottom: 0;
    z-index: -100;
}

/* crear reporte */

#crear{
    background-image: url("/static/imagenes/log.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    bottom: 0;
    z-index: -100;
}

/*login*/

#login{
    background-image: url("/static/imagenes/meadow.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    bottom: 0;
    z-index: -100;
}

/* botones */
#boton {
    background-image: linear-gradient(to bottom, #F9AE00 0%, #F9AE00 25%, #F59700 33%, #F59700 75%);
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bold;
    border-radius: 6px;
    border-color: #EA5B11;
  }

