{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
    <head>
    </head>
    <body>
        <div align=center>
            <video autoplay muted loop>
                <source src="{% static 'videos/Delicias.mp4' %}" type="video/mp4">
            </video>
            <h1>Bienvenidos a la página de la secretaría de ecología</h1>
            <br>
            <p>En esta página podrás crear rápida y fácilmente reportes para la atención de problemas competentes a esta dependencia como el maltrato de animales domésticos, daños a flora y fauna endémicos de la región, tala ilegal de árboles, el tratamiento y disposición incorrecta de residuos, etc.</p>
        </div>
    </body>
</html>
{% endblock %}